<!doctype html>
<html lang="fr">
<head>
  <%- include('../../partials/head'); %>
</head>
<body>

  <header>
    <%- include('../../partials/header'); %>
  </header>
  <nav class="menu">
    <ul>
      <li class="lien"><a href="/"> Acceuil </a></li>
      <li class="lien"><a href="/chat"><strong>Chat</strong></a>
        <ul class="sous">
          <li> <a href="/croquettes/chat">Croquettes</a></li>
                <li> <a href="pateCat.html">Paté</a></li>
                <li> <a href="friandiseCat.html">Friandises</a></li>
                <li> <a href="litiere.html">Litière</a></li>
                <li> <a href="jeuxCat.html">Jeux</a></li>
                <li> <a href="autresCat.html">Autres</a></li>
              </ul>
            </li>
        <li class="lien"><a href="#"><strong>Chiens</strong></a>
                 <ul class="sous">
                    <li> <a href="#">Croquettes</a></li>
                    <li> <a href="#">Friandises</a></li>
                    <li> <a href="#">Jeux</a></li>
                    <li> <a href="#">Autres</a></li>
                  </ul>
         </li>
        <li class="lien"><a href="#"><strong>Autres</strong></a>
                 <ul class="sous">
                       <li> <a href="#">Lapins</a></li>
                       <li> <a href="#">Poissons</a></li>
                        <li> <a href="#">Hamster</a></li>
                     
                </ul>
             </li>   
        <li class="lien"><a href="#"><strong>Bons Plans</strong></a></li>
    </ul>
  </nav>

<div class="titleCroquetteCat">
 <h1>Croquettes pour chat</h1>
</div>


<div class="containerCroquettesCat">
    <div class="contCroquettesCat"> 
            <img class="imgCroqCat" src="../../img/chat/croquettes chats/croquetteCat.jpeg">
    </div>

    <div class="contCroquettesCat"> 
        <img class="imgCroqCat" src="../../img/chat/croquettes chats/croquetteCat1.jpeg">
</div>

<div class="contCroquettesCat"> 
    <img class="imgCroqCat" src="../../img/chat/croquettes chats/croquettesCat5.jpeg">
</div>

<div class="contCroquettesCat"> 
    <img class="imgCroqCat" src="../../img/chat/croquettes chats/croquettesCat2.jpeg">
</div>

<div class="contCroquettesCat"> 
    <img class="imgCroqCat" src="../../img/chat/croquettes chats/croquettesCat3.jpeg">
</div>

<div class="contCroquettesCat"> 
    <img class="imgCroqCat" src="../../img/chat/croquettes chats/croquettesCat4.jpeg">
</div>

</div>

  <footer>
    <%- include('../../partials/footer'); %>

  </footer>





</body>
</html>