    
</body>

<footer>
    <div class="foot">
        <p>Qui Sommes nous ?</p>
    </div>

    <div class="foot">
      <p>Contact</p>
    </div>

    <div class="foot">
      <p>Conditions générales de vent</p>
    </div>

    <div class="foot">
        <p>Suivez-nous</p>
    </div>

  </footer>

</html>