
    <div class="logo">
        <img src="img/logo.png">
      </div>

      <div class="title">
         <h1>ANIMAL & CO</h1>
      </div>

      <div class="panier">
      <a href="/panier"><img class="imgPanier" src="img/panier.png">  </a>
      </div>

      <div class="connexion">

        <a href="/connexion"><strong>Se connecter</strong></a>

        
      </div>
     