
    <div class="logo">
        <img src="img/logo.png">
      </div>

      <div class="title">
         <h1>ANIMAL & CO</h1>
      </div>

      <div class="connexion">

        <a href="html/connexion + inscription/connexion.html"><strong>Se connecter</strong></a>
      </div>
     