
    <div class="logo">
        <img src="img/logo.png">
      </div>

      <div class="title">
         <h1>ANIMAL & CO</h1>
      </div>

      <div class="connexion">

        <a href="html/connexion + inscription/connexion.html"><strong>Se connecter</strong></a>
      </div>
      <nav class="menu">
        <ul>
            <li class="lien"><a href="html/chat/chat.html"><strong>Chat</strong></a>
                  <ul class="sous">
    
                   
                    <li> <a href="html/chat/croquettesCat.html">Croquettes</a></li>
                    <li> <a href="pateCat.html">Paté</a></li>
                    <li> <a href="friandiseCat.html">Friandises</a></li>
                    <li> <a href="litiere.html">Litière</a></li>
                    <li> <a href="jeuxCat.html">Jeux</a></li>
                    <li> <a href="autresCat.html">Autres</a></li>
                  </ul>
                </li>
            <li class="lien"><a href="#"><strong>Chiens</strong></a>
                     <ul class="sous">
    
                   
                        <li> <a href="#">Croquettes</a></li>
                        <li> <a href="#">Friandises</a></li>
                        <li> <a href="#">Jeux</a></li>
                        <li> <a href="#">Autres</a></li>
                      </ul>
             </li>
            <li class="lien"><a href="#"><strong>Autres</strong></a>
                     <ul class="sous">
    
             
                           <li> <a href="#">Lapins</a></li>
                           <li> <a href="#">Poissons</a></li>
                            <li> <a href="#">Hamster</a></li>
                         
                    </ul>
                 </li>   
            <li class="lien"><a href="#"><strong>Bons Plans</strong></a></li>
        </ul>
      </nav>


