<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/chat.css">
    <link rel="stylesheet" href="css/connexion/connexion.css">
    <link rel="stylesheet" href="css/connexion/inscription.css">
    <link rel="stylesheet" href="css/panier.css">
    <title></title> 