.ficheProduit{
    display: flex;
    flex-direction: row;
}

.imgProduit {
  width: 40%;
}
.contientImage{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5vh;
    margin-bottom: 5vh;
   

}

.descriptionProduit{
    padding: 3vh;
}
