.titlePanier{
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    margin: 2vh;

}

.boxPanier {
    border-bottom: 0.4px solid #C0C0C0 ;
    padding: 5vh;
   opacity: 0.8;
   width: 70%;
    background-color: #FFFFFF;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.boxsPanier{
opacity: 0.8;
background-color: #FFFFFF;
font-size: 2rem;
height: 25%;
width: 85%;
justify-content: center;
    display: flex;
    flex-direction: column;
}