body {
 background-color: #374158; 
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

/* haut de page */

header {
    display: flex;
    flex-direction: row;
    background-color: #D9D9D9;
   
}

.title {
    padding-top: 9vh;
    color: #D76C58;
    width: 70%;
}

.imgPanier{
    width: 40%;
    height: 40%;
    margin-top: 7vh;
}

.connexion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 9vh;
    width: 17vh;
    height: 3vh;
    border: solid 1px whitesmoke;
    border-radius: 25px;
    background-color: whitesmoke;
    box-shadow: 1px 1px ;
}


/* navbar */

nav {
    background-color: #D9D9D9;
    width: 100%;
    display: flex;
    flex-direction: row;
  justify-content: center;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}

a:hover {
    color: #D76C58;
    border-bottom: 2px solid #D76C58;
}

li{
    list-style: none;
   padding-left:10vh;
    padding-right: 10vh;
    padding-top: 2vh;
    padding-bottom: 2vh; 
    width: 100%;
    text-align: center;
    
}




/* Corps page */

.imageAcceuilChienChat {
    margin-top: 4vh;
    max-width: 80%;
}

.photo {
    display: flex;
    justify-content: center;
}


/* News products */

.newProducts {
margin-top: 10vh;
margin-left: 5vh;
display: flex;
flex-direction: column;
}

.boxNewProducts{
    display: flex;
flex-direction: row;
align-items: center;
}

.newProduct1 {
    border: 0.1rem;
    border-radius: 40px;
    height: 100%;
    width: 100%;
    padding: 8vh;
    margin: 2vh;
    background-color: #FFFFFF;
    font-size: 2rem;
    padding: 2vh;
}

.croquettes {
    height: 15vh;
}

/* footer */
footer {
    display: flex;
    flex-direction: row;
    background-color: #222D41;
}

.foot {
    margin: 2vh;
    justify-content: space-between;
}


  .button {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #eeeeee;
    font-weight: 600;
    font-size: 15px;
    background-color: #153f00;
    padding: 15px 50px;
    margin: 0 auto;
  }
  .button span {
    position: relative;
    z-index: 1;
  }
  .button:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 470%;
    width: 140%;
    background: #222D41;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-100%) translateY(-25%) rotate(45deg);
    transform: translateX(-100%) translateY(-25%) rotate(45deg);
  }
  .button:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  }
