<!DOCTYPE html>
<html lang="en">

<head>

  <%- include('../partials/head'); %>
</head>

<body class="container">

  <header>
    <%- include('../partials/header'); %>
  </header>

  <nav class="menu">
    <ul>
        <li class="lien"><a href="/"><strong>Acceuil</strong>  </a></li>
      <li class="lien"><a href="/chat"><strong>Chat</strong></a>
       
      </li>
      <li class="lien"><a href="#"><strong>Chiens</strong></a>
      
      </li>
      <li class="lien"><a href="#"><strong>Autres</strong></a>
        
      </li>
      <li class="lien"><a href="#"><strong>Bons Plans</strong></a></li>
    </ul>
  </nav>


<div class="titlePanier">
  <h1>Votre panier</h1>
</div>
<div class="boxsPanier">

  <div class="boxPanier">
  </div>

  <div class="boxPanier">
  </div>
</div>

</div>



  <footer>
    <%- include('../partials/footer'); %>
  </footer>

</body>

</html>

