<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<div class="photo">
    <img class="imageAcceuilChienChat" src="img/acceuil/acceuilChien&Chat.jpg" alt="lala">
 </div>

 <div class="newProducts">
       <h1>Nouveaux Produits : </h1>
     </div>

     <div class="boxNewProducts">
   <div class="newProduct1">
   <img class="croquettes" src="img/chien/croquettes chiens/croquettes.jpeg">
 </div>

   <div class="newProduct1">
     <img class="croquettes" src="img/chien/croquettes chiens/croquettes1.jpeg">
   </div>
   <div class="newProduct1">
     <img class="croquettes" src="img/chat/croquettes chats/croquettes2.jpeg">
   </div>

   <div class="newProduct1">
     <img class="croquettes" src="img/autres/aquarium.jpeg">
   </div>
</div>




<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>